
.accordion-btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: white;
    padding: 0 24px;
    padding-top: 16px;
    gap: 16px;
}

.accordion-item {
    box-shadow: 0 0 32px #E1E1E1E8;
    margin: 5px 0;
    border-radius: 12px;
    & h2{
        font-size: 18px;
        font-weight: 700;
    }
    & button {
        border-radius: 12px;
        padding: 8px 24px !important;
    }
}