@use 'variables' as a;
.header-container {
    background-color: #FFFFFFB2;
    width: 730px;
    height: 595px;
    position: absolute;
    top: 83.5px;
    left: 165px;
}
.header {
    position: relative;
}
.header-content {
    padding: 40px;
    &-text {
        padding: 40px 0;
        & h1 {
            color: a.$heading-color;
            font-size: 56px;
            line-height: 64px;
            font-weight: 700;
        }
        & p {
            font-size: 18px;
            padding:  24px 0;
        }
    }
    &-overview {
        display: flex;
        &-ct {
            text-align: center;
            & h1 {
                font-weight: 900;
                font-size: 24px;
                padding-bottom: 4px;
            }
        }
    }
}
.zip-box {
    display: flex;
    height: 56px;
    & input 
    {
        padding: 24px 16px;
        width: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border: none;
    }
    & button {
        width: 240px;
        background-color: a.$primary-color;
        color : #FFFFFF;
        font-size: 18px;
        border: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        &:hover {
            background-color: rgb(255 138 102);
        }
    }
   
}


.logo-slider
{
    background-color: #FCF6F4;
    height: 131px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-icon {
        display: flex;
        justify-content: center;
        animation: scroll-loop 20s linear infinite; /* Áp dụng animation */
        & img {
            width: 131.75px;
        }
    }
    & p {
        padding-left: 165px;
    }
}

.logo-carousel {
    overflow: hidden;
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}
@keyframes scroll-loop {
    0% {
      transform: translateX(0); /* Bắt đầu từ ngoài bên phải */
    }
    100% {
      transform: translateX(-100%); /* Kết thúc ở ngoài bên trái */
    }
  }
